[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pa-applet
Comment=Ses simgesini sistem çekmecesine ekler
Exec=pa-applet
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

