[Desktop Entry]
Version=1.0
Type=Application
Name=apvlv
Exec=apvlv %f
Terminal=false
Categories=Office;Viewer;
MimeType=application/pdf;application/postscript;application/eps;application/x-eps;image/eps;image/x-eps;image/vnd.djvu;
