[Desktop Entry]
Encoding=UTF-8
Name=Launch Flameshot
Name[es]=Iniciar Flameshot
Name[tr]=Flameshot Başlatıcı
GenericName=Screenshot tool
GenericName[es]=Herramienta de captura de pantalla
GenericName[tr]=Ekran yakalama aracı
Comment=Powerfull yet simple to use screenshot software.
Comment[es]=Potente pero simple de usar software de capturas.
Comment[tr]=Güçlü ve kullanımı kolay ekran görüntüsü yazılımı
Exec=/usr/bin/flameshot
TryExec=/usr/bin/flameshot
Icon=/usr/share/icons/flameshot.png
Terminal=false
Type=Application
Categories=Graphics
StartupNotify=false
