[Desktop Entry]
Name=Qt5 Linguist
Comment=Add translations to Qt applications
Exec=/usr/bin/linguist-qt5
Icon=linguist
MimeType=text/vnd.trolltech.linguist;application/x-linguist;
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Development;
