[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/root/Masaüstü/kurulum.desktop]
row=3
col=0

[/root/Masaüstü/komutan.desktop]
row=4
col=0

[Çöp]
row=0
col=0

[/]
row=1
col=0

[/root]
row=2
col=0

