[Desktop Entry]
Name=Firefox
Comment=Web Tarayıcı
Exec=firefox
Icon=/opt/firefox/browser/icons/mozicon128.png
Terminal=false
Type=Application
Categories=Application;Network;
