[Desktop Entry]
Name=Firefox
Comment=Browser
Comment[tr]=İnternet Tarayıcı 
Exec=firefox
Icon=firefox
Terminal=false
Type=Application
Categories=Application;Network;
