DEFAULTSESSION=xfce4-session

case "$1" in
    openbox) exec openbox-session ;;
     xfce) exec xfce4-session ;;
     lxqt) exec lxqt-session ;;
     gnome3) exec gnome-session ;;
     kde) exec startkde ;;
     cinnamon) exec gnome-session-cinnamon ;;
     razor-qt) exec razor-session ;;
     lxde) exec lxsession ;;
     mate) exec mate-session ;;
     *) exec $DEFAULTSESSION ;;
esac
