[Desktop Entry]
Path=/usr/bin
Name=Milis Linux Konsol Tabanlı Kurulumu
Comment=Milis Linux Kurulumu
Exec=sudo milis-kur-konsol
Terminal=true
Type=Application
Icon=/sources/milis.git/ayarlar/milislogo.png
Categories=System;
