[Desktop Entry]
Path=/usr/bin
Name=Milis Linux Kurulumu
Comment=Milis Linux Kurulumu
Exec=milis-kur
Terminal=true
Type=Application
Icon=/sources/milis.git/ayarlar/milislogo.png
Categories=System;
