[Desktop Entry]
Version=1.0
Name=Heimdall
Type=Application
Comment=Samsung telefonlara firmware yükleme aracı
Terminal=false
Exec=heimdall-frontend
Icon=phone
Categories=Development;
