UI gfxboot init isolinux.msg
timeout 600

label milis 
    kernel /boot/kernel
    append initrd=/boot/initramfs root=live:CDLABEL=malfsLive rd.debug
    
label milis qemu için
    kernel /boot/kernel
    append initrd=/boot/initramfs root=live:/dev/sda1 rootfstype=auto ro rd.live.image rd.debug

label milis usb için
    kernel /boot/kernel
    append initrd=/boot/initramfs root=live:/dev/sdb1  rd.driver.pre=usb_storage  rd.debug
    
label milis cd için 
    kernel /boot/kernel
    append initrd=/boot/initramfs root=live:/dev/sr0  rd.debug