[Desktop Entry]
Name=WebTorrent
Version=1.0
GenericName=BitTorrent Client
X-GNOME-FullName=WebTorrent
Comment=BitTorrent üzerinden dosyaları indirin ve paylaşın
Encoding=UTF-8
Type=Application
Icon=webtorrent-desktop
Terminal=false
Path=/usr/share/webtorrent-desktop
Exec=/usr/bin/webtorrent-desktop %U
TryExec=/usr/bin/webtorrent-desktop
StartupNotify=false
Categories=Network;FileTransfer;P2P;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/stream-magnet;

Actions=CreateNewTorrent;OpenTorrentFile;OpenTorrentAddress;

[Desktop Action CreateNewTorrent]
Name=Yeni Torrent Oluştur...
Exec=/usr/bin/webtorrent-desktop -n
Path=/usr/share/webtorrent-desktop

[Desktop Action OpenTorrentFile]
Name=Torrent Dosyası Aç...
Exec=/usr/bin/webtorrent-desktop -o
Path=/usr/share/webtorrent-desktop

[Desktop Action OpenTorrentAddress]
Name=Torrent Adresi Aç...
Exec=/usr/bin/webtorrent-desktop -u
Path=/usr/share/webtorrent-desktop
